/* colors
    dark pink: rgb(253, 67, 101);
    light pink: rgb(253, 157, 154);
    tan: rgb(249, 205, 173);
    white: rgb(255, 249, 216);
    light green: rgb(200, 201, 170);
    dark green: rgb(131, 176, 156);
*/

body {
    font-family: Orbitron, 'Courier New', Courier, monospace;
    background-color: rgb(255, 249, 216);
}

#container {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(249, 205, 173);
}